
.container{
    margin-bottom: 20px;
}
.orng-bg{
    background-color: #feeae9;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF5898 0%, #ff136f 100%);
    border: none;
    border-radius: 8px;
    padding: 9px,25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.cat1{
    background-color: orangered;
}
.cat2{
    background-color: #ff00bf;

}
.cat3{
    background-color: #1100ff;
}

.catagores h1{
    color: white;
    
}
.catagores img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
    
    
}
.card-footr{
    background-color: white;
    border-top: none ;

}

#subcribe{
    height: 300px;  
}

#subcribe h5{
    color: gray;
}